.container {
  margin: 40px 0;
  padding-top: 40px;
}

.collection {
  margin: 40px 0;
}

#collection-mushrooms {
  display: none;
}

#collection-disco {
  display: none;
}

.primary-photo {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.cards img {
  width: 30%;
  aspect-ratio: 1 / 1;
}

.more {
  width: 30%;
  border-radius: 20px;
  background-color: var(--f-clr-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.more h1 {
  font-family: var(--f-family-mono);
  font-size: 1em;
  font-weight: 200;
}

.info h1 {
  font-size: 1.375rem;
  font-weight: 600;
  margin: 15px 0 10px;
}

@media screen and (min-width: 600px) {
  .collection {
    display: flex;
    gap: 30px;
  }

  .collection-sections {
    flex: 0 1 50%;
  }

  #collection-mushrooms {
    display: block !important;
  }
}
