.container {
  background: #3b3b3b;
  border-radius: 20px;
  flex: 0 1 calc(50% - 10px);
  cursor: pointer;
}

.container img {
  width: 100%;
}

.container h1 {
  margin: 20px 0 20px 15px;
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .container {
    flex: 0 1 calc(100% / 4 - 15px);
  }
}
