.container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.logo {
  font-size: 20px;
}

/* burger menu */
.bmenu {
  display: block;
  position: relative;
  margin: auto 0;
  z-index: 1;

  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.bmenu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: #fff;
  border-radius: 6px;
  z-index: 1;

  transform-origin: 0 0;
  transition: 0.4s;
}

.bmenu span:nth-child(2) {
  width: 25px;
}

.bmenu:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--f-clr-secondary);
}

.bmenu.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.bmenu.is-active span:nth-child(2) {
  opacity: 0;
  transform: translate(15px);
}

.bmenu.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}
