.container {
  padding: 40px 30px;
  margin: 0 -30px;
  background-color: var(--bg-clr-secondary);
}

.container h2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0;
  color: var(--f-clr-footer);
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--f-clr-footer);
}

@media screen and (min-width: 600px) {
  .container {
    padding: 40px 50px;
    margin: 0 -50px;
  }
}
