.container {
  margin: 40px 0;
}

.headline h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.headline h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.card {
  width: 100%;
  justify-self: center;
  aspect-ratio: 1 / 1;
  background-color: var(--bg-clr-secondary);
  border-radius: 25px;
}

.card-photo {
  width: 100%;
  object-fit: contain;
}

.card h1 {
  font-size: 1.375rem;
  font-weight: 600;
  margin: 22px 20px;
}

.artist {
  margin: 0 20px;
}

.info ul {
  display: flex;
  justify-content: space-between;
}

.info h1 {
  font-family: var(--f-family-mono);
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.info h2 {
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 235px 85px 60px 45px;
  }

  .headline {
    grid-row: 1 / 2;
    grid-column: 1;
  }

  .card {
    grid-row: 1;
    grid-column: 2;
    max-width: 425px;
  }

  .btn {
    grid-column: 1;
  }

  .btn button {
    margin: 0;
  }

  .info {
    grid-column: 1;
  }
}
