.container {
  margin: 20px 0;
  width: 100%;
  max-width: 365px;
  background-color: var(--bg-clr-secondary);
  height: 100px;
  border: none;
  border-radius: 20px;

  display: flex;
}

.avatar img {
  width: 60px;
  height: 60px;
  margin: 20px;
}

.info {
  align-self: center;
}

.info h1 {
  font-size: 1.375rem;
  font-weight: 200;
  margin-bottom: 5px;
}

.info h2 {
  font-size: 1rem;
  font-weight: 200;
  color: var(--f-clr-span);
}

.info h2 span {
  color: var(--f-clr-primary);
  font-family: var(--f-family-mono);
  margin-left: 5px;
}
