.container {
  width: 100%;
  border: none;
  background-color: var(--bg-clr-primary);
}

.nft-img {
  width: 100%;
}

.info {
  margin-top: -4px;
  padding: 20px;
  background-color: var(--bg-clr-secondary);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.info h1 {
  font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.price-info {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.price-info h2 {
  color: var(--f-clr-span);
  font-family: var(--f-family-mono);
  font-weight: 400;
  margin-bottom: 10px;
}

.price-info h3,
.price-info h4 {
  font-family: var(--f-family-mono);
  font-weight: 400;
  margin-bottom: 25px;
  font-size: 0.75rem;
}

.bid {
  display: flex;
  flex-direction: column;
}

.price-info h4 {
  align-self: flex-end;
}

@media screen and (min-width: 600px) {
  .container {
    flex: 0 1 calc(50% - 15px);
  }
}
